{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/login.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <main class="login">
            <div class="login__inner container">
                {% block content %}

                {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>