{% extends 'core/main-base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1 class="main__title">Контакты</h1>
    <p class="main__text">Разработчик сайта - Кораблин Кирилл Артемович</p>
    <h2 class="main__subtitle">Связь со мной:</h2>
    <ul class="main__list-box">
        <li class="main__list-item">
            <span>Номер телефона:</span>
            <a href="tel" class="main__link">+7 (919) 436-88-35</a>
        </li>
        <li class="main__list-item">
            <span>Telegram:</span>
            <a href="https://telegram.me/k_kirill1605" class="main__link">k_kirill1605</a>
        </li>
    </ul>
{% endblock %}