{% extends 'core/main-base.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <h1 class="main__title">Учетная система для малого бизнеса</h1>
    <h2 class="main__subtitle"></h2>
    <p class="main__text">Данный сайт предоставляет спектр функций, помагающий организовать:</p>
    <ul class="main__list-box">
        <li class="main__list-item">Учет доходов и расходов</li>
        <li class="main__list-item">Управление инвентарем</li>
        <li class="main__list-item">Управление базой сотрудников</li>
    </ul>
{% endblock %}
